@import '../../assets/styles/variables';

.userPanel {
  margin: 3px 7px;
  padding: 0;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  button {
    display: flex;
    align-items: center;
    padding: 2px 7px;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s ease;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    p {
      margin: 0;
      padding-right: 5px;
      color: $primary;
      font-weight: 900;
      font-size: 18px;
      letter-spacing: 0.05em;
    }

    &:hover {
      background-color: darken($transparent-bg, 20%);
    }

    &:focus {
      background-color: darken($transparent-bg, 20%);
    }

    &:active {
      background-color: darken($transparent-bg, 30%);
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }
}
