@import '../../assets/styles/variables';

.userPanel {
  display: inline-block;
  margin: 3px 7px;
  padding: 0;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  button {
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    p {
      margin: 0;
      padding-right: 5px;
      color: $primary;
      font-weight: 900;
      font-size: 18px;
      letter-spacing: 0.05em;
    }
  }
}
