@import '../../assets/styles/variables';

.button {
  height: 40px;
  color: $text;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.05em;
  background-color: $primary;
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  &:hover,
  &:focus {
    background-color: $primary-active;
  }

  &:active {
    background-color: darken($primary-active, 5%);
  }

  &:disabled {
    color: $disabled;
    background-color: $disabled-bg;
  }

  &.outlined {
    $action-background: transparentize($primary, 0.7);

    color: $text;
    background-color: transparent;
    border: 1px solid $primary;

    &:hover,
    &:focus {
      background-color: $action-background;
    }

    &:active {
      background-color: darken($action-background, 10%);
    }

    &:disabled {
      color: $disabled;
      background-color: transparent;
      border-color: $disabled-bg;
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
