@import '../../assets/styles/variables';

.navbar {
  display: flex;
  height: 50px;
  background-color: $nav-bg;

  .right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .logo {
    margin: 3px 7px;
    padding: 2px 7px;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      p {
        margin: 0;
        color: $primary;
        font-weight: 900;
        font-size: 28px;
        letter-spacing: 0.1em;
      }
    }


    &:hover {
      background-color: darken($transparent-bg, 20%);
    }

    &:focus {
      background-color: darken($transparent-bg, 20%);
    }

    &:active {
      background-color: darken($transparent-bg, 30%);
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }
}

.hamburgerMenu {
  box-sizing: content-box;
  width: 26px;
  height: 26px;
  margin: 3px 7px;
  padding: 9px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  .menuBox {
    position: relative;
    width: 100%;
    height: 100%;

    .menuMiddle {
      $bar-height: 2px;
      $bar-offset: 8px;

      top: calc(50% - (#{$bar-height} / 2));
      transition-duration: 0.5s;

      &,
      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: $bar-height;
        background-color: $primary;
        border-radius: 1px;
      }

      &::before {
        top: $bar-offset;
        left: 0;
        transition: top 0.2s 0.3s ease-in;
        content: '';
      }

      &::after {
        bottom: $bar-offset;
        left: 0;
        transition: bottom 0.2s 0.3s ease-in, transform 0.3s ease;
        content: '';
      }
    }
  }

  &.isActive {
    .menuMiddle {
      transform: rotate(225deg);
      transition-delay: 0.3s;

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.2s ease-in, opacity 0.3s 0.2s ease-in;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.2s ease-in, transform 0.1s 0.3s ease;
      }
    }
  }

  &:hover {
    background-color: darken($transparent-bg, 20%);
  }

  &:focus {
    background-color: darken($transparent-bg, 20%);
  }

  &:active {
    background-color: darken($transparent-bg, 30%);
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
