@import '../../assets/styles/variables';

.helperText {
  display: flex;
  align-items: center;
  padding: 5px;
  color: $text;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;
  border-radius: 5px;

  img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  &.info {
    background-color: $information;
  }

  &.success {
    background-color: $success;
  }

  &.error {
    background-color: $error;
  }
}
