@import '../../assets/styles/variables';

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: $xl;
    min-height: 100vh;
    margin: 0 auto;
  }

  .logo {
    margin: 20px;
    text-align: center;

    img {
      width: 160px;
      height: 160px;
    }

    p {
      margin: 0;
      color: $primary;
      font-weight: 900;
      font-size: 48px;
      letter-spacing: 0.1em;
    }
  }
}

.container {
  width: 100%;
  max-width: 440px;
}

.formWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 20px 20px 30px;
  background-color: $transparent-bg;
  border-radius: 10px;

  .formSwitch {
    position: relative;
    display: flex;
    width: 100%;

    input {
      position: absolute;
      z-index: 0;
      opacity: 0;

      &:checked + label {
        background-color: $primary-active;
      }
    }

    label {
      z-index: 1;
      display: inline-block;
      flex: 1;
      padding: 16px;
      color: $text;
      font-weight: 900;
      font-size: 18px;
      letter-spacing: 0.05em;
      text-align: center;
      background-color: $primary;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:first-of-type {
        border-radius: 10px 0 0 10px;
      }

      &:last-of-type {
        border-radius: 0 10px 10px 0;
      }

      &:hover,
      &:focus {
        background-color: $primary-active;
      }

      &:active {
        background-color: darken($primary-active, 5%);
      }
    }
  }

  .form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    > * {
      flex: 1;
      width: 100%;
    }

    .forgetPassword {
      margin: 2px 0 5px;
      text-align: right;

      a {
        display: inline-block;
        padding: 5px;
        color: $text;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.05em;
      }
    }

    > button {
      flex: none;
      justify-self: flex-end;
      width: 100%;
      margin: 0;
    }
  }

  .helper {
    position: absolute;
    top: calc(100% + 1px);
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
  }
}
