//colors
$primary: rgb(0, 194, 255);
$primary-dark: rgb(0, 112, 148);
$secondary: rgb(9, 36, 41);
$transparent-bg: rgba(129, 160, 171, 0.5);
$nav-bg: rgba(0, 0, 0, 0.95);
$text: rgb(255, 255, 255);
$disabled: rgb(200, 200, 200);
$disabled-bg: rgb(99, 99, 99);
$information: rgba(255, 153, 0, 0.8);
$success: rgba(76, 175, 79, 0.8);
$error: rgba(244, 67, 54, 0.8);

//breakpoints
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

//button
$button-height: 40px;
