//global styles
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
  color: $text;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $secondary;

  input {
    color: rgb(0, 0, 0);
  }
}

@media (min-width: $md) {
  .hideAtMd {
    display: none;
  }
}

@media (max-width: calc(#{$md} - 1px)) {
  .showAtMd {
    display: none;
  }
}
