//global styles
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
  color: $text;
  font-family: 'Nunito', sans-serif;
}

body {
  min-width: 260px;
  margin: 0;
  padding: 0;
  background-color: $secondary;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: $md) {
  .hideAtMd {
    display: none !important;
  }
}

@media (max-width: calc(#{$md} - 1px)) {
  .showAtMd {
    display: none !important;
  }
}
