//global styles
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
  color: $text;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: $secondary;
  margin: 0;
  padding: 0;

  input {
    color: black;
  }
}
